/*!
Theme Name: Mediaparks Homework Theme
Theme URI:
Author: Janis Salins
Author URI:
Description: Hi.
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: _s
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&family=Rubik:wght@600&display=swap');

//Color Variables
$color1: #fafafa; //Red
$color2: #53354A; //Plum
$color3: #903749; //Maroon
$pink: #ea4c89;
$red: red;

$breakpoint-mob: 768px;
$page-width: 1024px;

// Base Styles

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $color1;
  color: $color2;
  font-family: 'Montserrat', sans-serif;
  line-height: 2em;
  font-size: 1em;
  @media screen and (max-width: $breakpoint-mob) {
    font-size: 0.9em;
  }
}

// Content Wrapper
header, .wrapper, section {
  margin: 0 auto;
  max-width: $page-width;
  padding: 0 2%;
}

section {
  margin: 0 auto;
  padding-top: 5em;
}

.text-center {
  text-align: center;
}

.js-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  @media screen and (max-width: $breakpoint-mob) {
    display: block;
  }
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 2.8em;
  letter-spacing: -0.04em;
  padding: 1em 0 1em 0;
  @media screen and (max-width: $breakpoint-mob) {
    font-size: 2em;
  }
}


// Navigation

.navBar {
  font-family: 'Rubik', sans-serif;
  background-color: #ffffff;
  position: fixed;
  z-index: 999;
  min-width: 100%;
  text-transform: uppercase;
  box-shadow: 0.2em 0.2em 0.2em rgba(0,0,0,0.05);

}

.logo {
  position: relative;;
  background-color: $color1;
  border-radius: 50%;
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 1em 0;
  &::before {
    content:'JS';
    position: absolute;
    font-size: 25px;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
}

a.anchor {
  top: -100px;
  display: block;
  position: relative;
  visibility: hidden;
}

nav {
  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 50%;
    
    a {
      color: $color2;
      text-decoration: none;
      transition: all .2s ease;

      &:hover {color: $color3;}
    }
  }
  
  li  {
    display: inline-block;
  }
  
  #menu-toggle, .label-toggle {
    display: none;
  }
    
  .wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  
  @media screen and (max-width: $breakpoint-mob) {
    nav {
      ul {
        a {
          color: $color2;
        }
      }
    }
    ul {
      display: block;
      height: 0;
      list-style-type: none;
      opacity: 0;
      text-align: center;
      transition: all 0.3s ease;
      width: 100%;
      visibility: hidden;
    }
    
    li {
      border-bottom: 1px solid rgba(0, 0, 0, .1);
      color: $color2;
      display: block;
      padding: 2em 0;
    }
  
    #menu-toggle:checked ~ ul {
      opacity: 1;
      height: 100vh;
      visibility: visible;
    }
    
    .label-toggle {
      background: linear-gradient(to bottom, $color2 0%, $color2 20%, transparent 20%, transparent 40%, $color2 40%, $color2 60%, transparent 60%, transparent 80%, $color2 80%, $color2 100%); //Gradient Hamburger
      cursor: pointer;
      display: block;
      position: absolute;
      height: 25px;
      width: 25px;
      right: 25px;
      top: 30px;
    }
    
    .wrapper {
        display: block;
    }
  }
}

// About

#about-me {
  padding-top: 10em;
}

//Form 

.form-container {
  @media screen and (min-width: $breakpoint-mob) {
    width: 80%;
  }
  margin: auto;
  margin-bottom: 15em;
  border: 1px solid #f7f7f7;


  form {
    position: relative;
  }

  label {
    display: block;
    font-size: 0.8rem;
  }
  input, textarea {
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    width: 100%;
    &::placeholder {
      opacity: 0.5;
    }
  }
  textarea {
    font-family: inherit;
    font-size: inherit;
 }
  button, .button {
    padding: 1em 4em;
    max-width: 300px;
    border-radius: 5px;
    color: #fff;
    background: $color2;
    line-height: 1rem;
    font-size: 1rem;
    text-align: center;
    position: absolute;
    right: 0;
    cursor: pointer;
    border: 1px solid $color2;
    transition: color .4s ease-out, background .4s ease-out;
    @media screen and (max-width: 768px) {
      max-width: 100%;
      position: initial;
    }
    &.disabled{
      opacity: 0.5;
      pointer-events: none;
    }
  }
  button:hover, .button:hover {
    color: white;
    background: $color3;
  }
  .errors {
    display: block;
    color: $red;
    margin-top: 5px;
    font-size: 0.8em;
  }
  .error {
    transition: .2s;
    box-shadow: 0 0 15px 0 rgba(255,36,0,1);
  }
}

/* Form checkbox */
.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border: 1px solid #ccc;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  input:checked ~ .checkmark {
    background-color: #2196F3;
    border: none;
  }
  input:checked ~ .checkmark:after {
    display: block;
  }
  &:hover input ~ .checkmark {
    background-color: #ccc;
  }
}

//Gallery

#gallery {
  .container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  .img-holder {
    flex-grow:1;
    padding: .2rem;
    cursor: pointer;
  } 
  
  .img-holder img {
    display: block;
    min-width: 100%;
    height: 16rem;
    object-fit: cover; 
  }
  .overlay {
    position: fixed; 
    cursor: pointer; 
    visibility: hidden;
    top: 0; left: 0; right: 0; bottom: 0; 
    z-index: 1000; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.7);
  }
  .img-full {
    position: fixed;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1001;
    transition: opacity .4s ease-in;
    &::after {
      content: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g id="close"><path id="x" fill="white" d="M18.717 6.697l-1.414-1.414-5.303 5.303-5.303-5.303-1.414 1.414 5.303 5.303-5.303 5.303 1.414 1.414 5.303-5.303 5.303 5.303 1.414-1.414-5.303-5.303z"/></g></svg>');
      display: inline-block;
      height: 20px;
      width: 20px;
      position: absolute;
      top: -30px;
      right: 0px;
      cursor: pointer;
    }
    img {
      max-width: 100vw;
    }
  }
}

// Dribble News

#shots {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;

  @media screen and (max-width: $breakpoint-mob) {
    display: block;
  }
  
  .shot {
    position: relative;
    display: flex;
    background: white;
    color: $color2;
    text-decoration: none;

    @media screen and (max-width: $breakpoint-mob) {
      display: block;
      margin-bottom: 2em;
    }

    article {
      padding: 2em;
    }
    
    &:hover {
      img {
        opacity: .5;
      }
    }

    img {
      display: block;
      transition: opacity .2s ease-in-out;
      @media screen and (max-width: $breakpoint-mob) {
        width: 100%;
      }
    }
  }
}

// Footer

footer {
  text-align: center;
  background: white;
  padding: 1em 0;
  margin-top: 5em;

  ul.social {
    display: inline-flex;
    list-style: none;
    li {
      padding: 0 1em;
      span {
        color: $color2;
      }
    }
  }
}