/*!
Theme Name: Mediaparks Homework Theme
Theme URI:
Author: Janis Salins
Author URI:
Description: Hi.
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: _s
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&family=Rubik:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fafafa;
  color: #53354A;
  font-family: 'Montserrat', sans-serif;
  line-height: 2em;
  font-size: 1em;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 0.9em;
  }
}

header, .wrapper, section {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 2%;
}

section {
  margin: 0 auto;
  padding-top: 5em;
}

.text-center {
  text-align: center;
}

.js-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
}

@media screen and (max-width: 768px) {
  .js-row {
    display: block;
  }
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 2.8em;
  letter-spacing: -0.04em;
  padding: 1em 0 1em 0;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2em;
  }
}

.navBar {
  font-family: 'Rubik', sans-serif;
  background-color: #ffffff;
  position: fixed;
  z-index: 999;
  min-width: 100%;
  text-transform: uppercase;
  -webkit-box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.05);
          box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.05);
}

.logo {
  position: relative;
  background-color: #fafafa;
  border-radius: 50%;
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 1em 0;
}

.logo::before {
  content: 'JS';
  position: absolute;
  font-size: 25px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  width: 50%;
}

nav ul a {
  color: #53354A;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

nav ul a:hover {
  color: #903749;
}

a.anchor {
  top: -100px;
  display: block;
  position: relative;
  visibility: hidden;
}

nav li {
  display: inline-block;
}

nav #menu-toggle, nav .label-toggle {
  display: none;
}

nav .wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  nav nav ul a {
    color: #53354A;
  }
  nav ul {
    display: block;
    height: 0;
    list-style-type: none;
    opacity: 0;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 100%;
    visibility: hidden;
  }
  nav li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #53354A;
    display: block;
    padding: 2em 0;
  }
  nav #menu-toggle:checked ~ ul {
    opacity: 1;
    height: 100vh;
    visibility: visible;
  }
  nav .label-toggle {
    background: -webkit-gradient(linear, left top, left bottom, from(#53354A), color-stop(20%, #53354A), color-stop(20%, transparent), color-stop(40%, transparent), color-stop(40%, #53354A), color-stop(60%, #53354A), color-stop(60%, transparent), color-stop(80%, transparent), color-stop(80%, #53354A), to(#53354A));
    background: linear-gradient(to bottom, #53354A 0%, #53354A 20%, transparent 20%, transparent 40%, #53354A 40%, #53354A 60%, transparent 60%, transparent 80%, #53354A 80%, #53354A 100%);
    cursor: pointer;
    display: block;
    position: absolute;
    height: 25px;
    width: 25px;
    right: 25px;
    top: 30px;
  }
  nav .wrapper {
    display: block;
  }
}

#about-me {
  padding-top: 10em;
}

.form-container {
  margin: auto;
  margin-bottom: 15em;
  border: 1px solid #f7f7f7;
}

@media screen and (min-width: 768px) {
  .form-container {
    width: 80%;
  }
}

.form-container form {
  position: relative;
}

.form-container label {
  display: block;
  font-size: 0.8rem;
}

.form-container input, .form-container textarea {
  padding: 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  width: 100%;
}

.form-container input::-webkit-input-placeholder, .form-container textarea::-webkit-input-placeholder {
  opacity: 0.5;
}

.form-container input:-ms-input-placeholder, .form-container textarea:-ms-input-placeholder {
  opacity: 0.5;
}

.form-container input::-ms-input-placeholder, .form-container textarea::-ms-input-placeholder {
  opacity: 0.5;
}

.form-container input::placeholder, .form-container textarea::placeholder {
  opacity: 0.5;
}

.form-container textarea {
  font-family: inherit;
  font-size: inherit;
}

.form-container button, .form-container .button {
  padding: 1em 4em;
  max-width: 300px;
  border-radius: 5px;
  color: #fff;
  background: #53354A;
  line-height: 1rem;
  font-size: 1rem;
  text-align: center;
  position: absolute;
  right: 0;
  cursor: pointer;
  border: 1px solid #53354A;
  -webkit-transition: color .4s ease-out, background .4s ease-out;
  transition: color .4s ease-out, background .4s ease-out;
}

@media screen and (max-width: 768px) {
  .form-container button, .form-container .button {
    max-width: 100%;
    position: initial;
  }
}

.form-container button.disabled, .form-container .button.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.form-container button:hover, .form-container .button:hover {
  color: white;
  background: #903749;
}

.form-container .errors {
  display: block;
  color: red;
  margin-top: 5px;
  font-size: 0.8em;
}

.form-container .error {
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-box-shadow: 0 0 15px 0 #ff2400;
          box-shadow: 0 0 15px 0 #ff2400;
}

/* Form checkbox */
.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.check-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.check-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: 1px solid #ccc;
}

.check-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check-container input:checked ~ .checkmark {
  background-color: #2196F3;
  border: none;
}

.check-container input:checked ~ .checkmark:after {
  display: block;
}

.check-container:hover input ~ .checkmark {
  background-color: #ccc;
}

#gallery .container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#gallery .img-holder {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: .2rem;
  cursor: pointer;
}

#gallery .img-holder img {
  display: block;
  min-width: 100%;
  height: 16rem;
  -o-object-fit: cover;
     object-fit: cover;
}

#gallery .overlay {
  position: fixed;
  cursor: pointer;
  visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#gallery .img-full {
  position: fixed;
  visibility: hidden;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1001;
  -webkit-transition: opacity .4s ease-in;
  transition: opacity .4s ease-in;
}

#gallery .img-full::after {
  content: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g id="close"><path id="x" fill="white" d="M18.717 6.697l-1.414-1.414-5.303 5.303-5.303-5.303-1.414 1.414 5.303 5.303-5.303 5.303 1.414 1.414 5.303-5.303 5.303 5.303 1.414-1.414-5.303-5.303z"/></g></svg>');
  display: inline-block;
  height: 20px;
  width: 20px;
  position: absolute;
  top: -30px;
  right: 0px;
  cursor: pointer;
}

#gallery .img-full img {
  max-width: 100vw;
}

#shots {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

@media screen and (max-width: 768px) {
  #shots {
    display: block;
  }
}

#shots .shot {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  color: #53354A;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  #shots .shot {
    display: block;
    margin-bottom: 2em;
  }
}

#shots .shot article {
  padding: 2em;
}

#shots .shot:hover img {
  opacity: .5;
}

#shots .shot img {
  display: block;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

@media screen and (max-width: 768px) {
  #shots .shot img {
    width: 100%;
  }
}

footer {
  text-align: center;
  background: white;
  padding: 1em 0;
  margin-top: 5em;
}

footer ul.social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
}

footer ul.social li {
  padding: 0 1em;
}

footer ul.social li span {
  color: #53354A;
}
